{% extends "CoreCoreBundle:Core:layout.html.twig" %}
{% block nav %}
    <p>PRESENTATION: Vous pouvez trouver des informations sur notre site 
        <a href="http://ssci-kalliste.fr/">SSCI Kalliste</a></p>
    {% endblock %}

