{% extends "CoreCoreBundle:Core:layout.html.twig" %}
{% block nav %}
    <p>ACCUEIL Vous pouvez trouver des informations sur notre site 
        <a href="http://ssci-kalliste.fr/">SSCI Kalliste</a></p>
    
    <a href="{{ url('contact_homepage') }}">try my route</a></p>


 
    {% endblock %}

